<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Nvim Plugins</title>
    <link
      rel="stylesheet"
      href="{{url_for('static',filename='css/main.css')}}"
    />
  </head>

  <body>
    <section class="w-full min-h-screen flex flex-col">
      <header
        class="w-full flex items-center justify-between px-4 py-2 bg-white dark:bg-background-900 text-gray-600 dark:text-gray-300"
      >
        <a class="flex items-center" href="#">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="h-6 w-6"
          >
            <path d="m3 9 9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path>
            <polyline points="9 22 9 12 15 12 15 22"></polyline>
          </svg>
          <span class="sr-only">Nvim Plugins</span>
        </a>
        <nav class="flex gap-4">
          <a class="text-sm font-medium hover:underline" href="#"> About </a>
          <a class="text-sm font-medium hover:underline" href="#"> Contact </a>
          <a class="text-sm font-medium hover:underline" href="#"> Legal </a>
        </nav>
      </header>
      <main
        class="flex-1 w-full px-4 py-8 md:px-8 md:py-16 bg-white dark:bg-background-950 text-white dark:text-gray-300"
      >
        <section class="text-center space-y-6">
          <h1
            class="text-2xl md:text-3xl font-bold text-text-900 dark:text-white"
          >
            Welcome to Nvim Plugins!
          </h1>
          <p class="text-lg md:text-xl text-gray-600 dark:text-gray-300">
            Track the most popular IDE plugins and boost your development
            workflow.
          </p>
          <button
            class="inline-flex items-center justify-center rounded-md text-sm font-medium ring-offset-background transition-colors bg-background-900 text-white hover:bg-primary-300 px-4 py-2"
          >
            Get Started!
          </button>
        </section>
        <div class="flex flex-col items-center">
          <div
            class="flex flex-col justify-center items-center md:w-full lg:w-2/3"
          >
            <section class="mt-12 w-full">
              <a
                class="text-3xl hover:underline transition-all decoration-1 font-bold mb-4 hover:text-primary-300 text-text-900 dark:text-white"
                href="/popular"
              >
                Popular Plugins:
              </a>
              <div class="grid gap-6 grid-cols-3 h-40 pt-4">
                <!-- POPULAR PLUGINS -->
                {% for plug in pop_plugins %}
                <div
                  class="rounded-lg hover:border-primary-300 border transition-all dark:border-gray-600 bg-white dark:bg-background-950 p-4 text-text-900 shadow-sm flex flex-col h-full"
                >
                  <a class="text-xl font-semibold dark:text-white" href="#">
                    {{plug.author}} / {{plug.name}}
                  </a>
                  <p
                    class="text-sm text-gray-600 dark:text-gray-300 overflow-hidden grow"
                  >
                    {{plug.description}}
                  </p>
                  <div class="flex justify-end items-center">
                    <a
                      class="text-primary-500 hover:underline transition-all"
                      href="#"
                    >
                      View More
                    </a>
                  </div>
                </div>

                {% endfor %}
              </div>
            </section>
            <section class="mt-12 w-full">
              <a
                class="text-3xl hover:underline transition-all decoration-1 font-bold mb-4 hover:text-primary-300 text-text-900 dark:text-white"
                href="/recent"
              >
                Recently Updated Plugins:
              </a>
              <div class="grid gap-6 grid-cols-3 h-full pt-4">
                <!-- RECENT PLUGINS -->
                {% for plug in latest_plugins %}

                <div
                  class="rounded-lg hover:border-primary-300 border transition-all dark:border-gray-600 bg-white dark:bg-background-950 p-4 text-text-900 shadow-sm flex flex-col h-full"
                >
                  <a class="text-xl font-semibold dark:text-white" href="#">
                    {{plug.author}} / {{plug.name}}
                  </a>
                  <p
                    class="text-sm text-gray-600 dark:text-gray-300 overflow-hidden grow"
                  >
                    {{plug.description}}
                  </p>
                  <div class="flex justify-end items-center">
                    <a
                      class="text-primary-500 transition-all hover:underline"
                      href="#"
                    >
                      View More
                    </a>
                  </div>
                </div>

                {% endfor %}
              </div>
            </section>
          </div>
        </div>
      </main>
      <footer
        class="w-full h-16 flex items-center justify-center px-4 py-2 bg-white dark:bg-background-950"
      >
        <nav class="flex gap-4">
          <a class="text-sm font-medium hover:underline" href="#"> About </a>
          <a class="text-sm font-medium hover:underline" href="#"> Contact </a>
          <a class="text-sm font-medium hover:underline" href="#"> Legal </a>
        </nav>
      </footer>
    </section>
  </body>
</html>
