<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Nvim Plugins</title>
    <link
      rel="stylesheet"
      href="{{url_for('static',filename='css/main.css')}}"
    />
    <link
      rel="shortcut icon"
      href="{{ url_for('static', filename='favicon.ico') }}"
    />
  </head>

  <body>
    <section class="w-full min-h-screen flex flex-col">
      <header
        class="w-full flex items-center px-4 py-2 bg-white ark:bg-background-900 text-gray-600"
      >
        <a class="flex items-center" href="/">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="h-6 w-6 mr-8"
          >
            <path d="m3 9 9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path>
            <polyline points="9 22 9 12 15 12 15 22"></polyline>
          </svg>
          <span class="sr-only">Home</span>
        </a>
        <nav class="flex gap-4">
          <a
            class="text-sm font-medium hover:underline duration-300"
            href="/getting-started"
          >
            Get Started
          </a>
          <a
            class="text-sm font-medium hover:underline duration-300"
            href="/plugins?sort=stars&desc=True"
          >
            Popular
          </a>
          <a
            class="text-sm font-medium hover:underline transition-all duration-300"
            href="/plugins?sort=last_updated&desc=True"
          >
            Recent
          </a>
        </nav>
      </header>
      <main class="flex-1 w-full px-4 py-8 md:px-8 md:py-16 bg-white">
        <section class="items-center justify-center flex">
          <div class="w-full max-w-5xl">
            <div class="w-full flex items-center">
              <div class="flex-1">
                <!--Plugin Name -->
                <h3 class="text-3xl my-1 font-bold">
                  {{ plugin.author }}/{{plugin.name }}
                </h3>
                <h5 class="text-lg font-normal">{{ plugin.description}}</h5>
              </div>
              <div class="">
                <!--Github link/icon-->
                <a
                  href="{{ plugin.url }}"
                  class="flex items-center text-sm font-medium text-text-600 hover:text-text-800 duration-300 hover:border hover:border-accent-400"
                >
                  <img
                    src="../../static/github-mark.png"
                    class="h-10 w-10 hover:border duration-300 rounded-full"
                  />
                </a>
              </div>
            </div>
            <hr class="mb-4 primary-100" />

            <!--Plugin Details/Stats-->
            <div class="max-h-full h-48 w-full flex">
              <div
                class="w-1/3 flex flex-col items-center justify-center border-r border-primary-100"
              >
                <div>
                  <!--Stars -->
                  <span class="text-xl font-bold text-text-900"
                    >{{ plugin.stars }}</span
                  >
                  <span class="text-sm font-medium text-text-700">Stars</span>
                </div>
                <div>
                  <!-- Commits -->
                  <span class="text-xl font-bold"
                    >{{ plugin.commit_count }} 1012</span
                  >
                  <span class="text-sm font-medium text-text-700">Commits</span>
                </div>
              </div>

              <!--Chart -->
              <div class="w-2/3 flex items-center justify-center">
                <canvas id="chart" class="max-w-lg w-full h-full" />
              </div>
            </div>

            <hr class="my-4 primary-100" />
            <!--Plugin Description -->
            <div class="m-6">
              <div class="mb-2 font-medium">Readme:</div>
              <div
                class="p-6 bg-primary-100 h-96 overflow-auto shadow-sm readme-container rounded-md"
              >
                {{ readme|safe }}
              </div>
            </div>
          </div>
        </section>
      </main>
    </section>
  </body>

  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script>
    const ctx = document.getElementById('chart');
    const data = JSON.parse('{{ chart_data | tojson | safe }}');
    const labels = data.labels;
    const values = data.values;

    new Chart(ctx, {
      type: 'line',
      data: {
        labels: labels,
        datasets: [
          {
            data: values,
            borderWidth: 1,
            borderColor: '#3395D7',
            backgroundColor: '#88c7f2',
          },
        ],
        options: {
          scales: {
            x: {
              type: 'timeseries',
            },
          },
          plugins: {
            legend: {
              display: false,
            },
          },
        },
      },
    });
  </script>
</html>
