<!doctype html>
<html lang="en">
  <head>
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.0/flowbite.min.css"
      rel="stylesheet"
    />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Nvim Plugins</title>
    <link
      rel="stylesheet"
      href="{{url_for('static',filename='css/main.css')}}"
    />
    <link
      rel="shortcut icon"
      href="{{ url_for('static', filename='favicon.ico') }}"
    />
  </head>

  <body>
    <script src="https://unpkg.com/htmx.org@1.9.9"></script>

    <script>
      // Pagiginator part
      let currentPage = 1;

      function incrementPage() {
        currentPage++;
        return currentPage;
      }

      function resetPage() {
        currentPage = 1;
        return currentPage;
      }
    </script>

    <script>
      // Sort & Filter settings
    </script>

    <section class="w-full min-h-screen flex flex-col">
      <header
        class="w-full flex items-center px-4 py-2 bg-white ark:bg-background-900 text-gray-600"
      >
        <a class="flex items-center" href="/">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="h-6 w-6 mr-8"
          >
            <path d="m3 9 9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path>
            <polyline points="9 22 9 12 15 12 15 22"></polyline>
          </svg>
          <span class="sr-only">Home</span>
        </a>
        <nav class="flex gap-4">
          <a
            class="text-sm font-medium hover:underline duration-300"
            href="/getting-started"
          >
            Get Started
          </a>
          <a
            class="text-sm font-medium hover:underline duration-300"
            href="/plugins?sort=stars&desc=True"
          >
            Popular
          </a>
          <a
            class="text-sm font-medium hover:underline transition-all duration-300"
            href="/plugins?sort=last_updated&desc=True"
          >
            Recent
          </a>
        </nav>
      </header>
      <main
        class="flex-1 w-full px-12 py-8 md:px-8 md:py-16 bg-white text-white"
      >
        <section class="container mx-auto p-6">
          <div class="flex items-center justify-between mb-6">
            <div class="w-2/3">
              <input
                id="search_input"
                type="search"
                name="search"
                hx-get="/list"
                hx-target="#list_container"
                hx-trigger="input changed delay:500ms, search"
                hx-vals="js:{page: resetPage(), sorting: document.getElementById('sorting_selector').value.split(',')[0], desc: document.getElementById('sorting_selector').value.split(',')[1], search: document.getElementById('search_input').value}"
                class="flex h-10 text-text-800 rounded-md border border-input px-3 py-2 text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-text-300 focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50 bg-white w-full"
                placeholder="Search projects..."
              />
            </div>
            <div class="w-1/4">
              <!-- Sorting Dropdown -->

              <select
                id="sorting_selector"
                name="sorting"
                hx-get="/list"
                hx-target="#list_container"
                hx-trigger="change"
                hx-vals="js:{page: resetPage(), sorting: document.getElementById('sorting_selector').value.split(',')[0], desc: document.getElementById('sorting_selector').value.split(',')[1]}"
                class="block w-2/3 p-2.5 text-sm h-10 text-white bg-primary-500 rounded-lg hover:bg-primary-600 focus:ring-4 focus:outline-none focus:ring-primary-200"
              >
                <option value="stars,True" selected>▼ Stars</option>
                <option value="stars,False">▲ Stars</option>
                <option value="last_updated,True">▼ Last Updated</option>
                <option value="last_updated,False">▲ Last Updated</option>
              </select>
            </div>
          </div>
          <div class="flex items-start justify-between">
            <div class="flex flex-col pr-10 w-1/3">
              <!-- FILTER SECTION -->
              <p class="text-xl mb-2 font-bold text-text-900">Filters:</p>
              <hr class="mb-4 border-gray-300" />
              <label for="filter" class="text-sm font-medium text-text-900"
                >Filter by languages:</label
              >

              <!-- Language grid-->
              <div class="grid grid-cols-2 w-full m-2">
                {{ languages|safe }}
              </div>
            </div>

            <div
              id="list_container"
              class="max-w-5xl w-full divide-y divide-gray-200 flex flex-col items-center justify-items-center"
            >
              {{ list_items|safe }}

              <div
                id="list_loading_indictator"
                class="divide-y-0 htmx-indicator"
              >
                <div role="status">
                  <svg
                    aria-hidden="true"
                    class="w-16 h-16 text-text-200 animate-spin fill-primary-600"
                    viewBox="0 0 100 101"
                    fill=""
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
                      fill="currentColor"
                    />
                    <path
                      d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
                      fill="currentFill"
                    />
                  </svg>
                  <span class="sr-only">Loading...</span>
                </div>
              </div>
            </div>
          </div>
        </section>
      </main>
      <footer
        class="w-full h-16 flex items-center justify-center px-4 py-2 bg-white"
      >
        <nav class="flex gap-4">
          <a class="text-sm font-medium hover:underline" href="#"> About </a>
          <a class="text-sm font-medium hover:underline" href="#"> Contact </a>
          <a class="text-sm font-medium hover:underline" href="#"> Legal </a>
        </nav>
      </footer>
    </section>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.0/flowbite.min.js"></script>
  </body>
</html>
